src/main/app/mulewithspring.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<spring:beans>
    	<context:component-scan base-package="mulewithspring.service"/>
	</spring:beans>
	<context:property-placeholder location="api.properties" />
	<http:listener-config name="httpListenerConfig" host="0.0.0.0" port="${http.port}"/>
	  
    <flow name="mulewithspringFlow">
        <http:listener config-ref="httpListenerConfig" path="/" allowedMethods="GET" doc:name="HTTP">
            <http:response-builder />
        </http:listener>
        <invoke object-ref="employeeService" method="getEmplyeeList" doc:name="Invoke"/>
        <logger message="{#[payload]}" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
